<!--Social -->
<div class="social grid">
    <div class="grid-info">
        <div class="col-md-3 top-comment-grid">
            <div class="comments likes">
                <div class="comments-icon">
                    <i class="fa fa-facebook"></i>
                </div>
                <div class="comments-info likes-info">
                    <h3>@ViewBag.TotalShareContent</h3>
                    <a href="/Admin/Content">Shares</a>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
        <div class="col-md-3 top-comment-grid">
            <div class="comments tweets">
                <div class="comments-icon">
                    <i class="fa fa-mouse-pointer"></i>
                </div>
                <div class="comments-info tweets-info">
                    <h3>@ViewBag.TotalClickAd</h3>
                    <a href="/Admin/Advertisement">Click Ads</a>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
        <div class="col-md-3 top-comment-grid">
            <div class="comments">
                <div class="comments-icon">
                    <i class="fa fa-comments"></i>
                </div>
                <div class="comments-info">
                    <h3>@ViewBag.TotalViewContent</h3>
                    <a href="/Admin/Content">Views Post</a>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
        <div class="col-md-3 top-comment-grid">
            <div class="comments views">
                <div class="comments-icon">
                    <i class="fa fa-eye"></i>
                </div>
                <div class="comments-info views-info">
                    <h3>557K</h3>
                    <a href="#">Views Page</a>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>