
@{
    ViewBag.Title = "Không tìm thấy trang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="error">
    <div class="container">
        <div class="error-main">
            <h3>
                404<span>error</span>
            </h3><h5>Page not found</h5>
            <a href="/">Trở lại trang chủ</a>
        </div>
    </div>
</div>

